@media (max-width: 1024px){

  .dashboard{
    grid-template-columns: 220px 1fr;
    grid-template-areas:
      "sidebar header"
      "sidebar main";
  }

  .activity{
    display: none;
  }

  .cards{
    grid-template-columns: repeat(2,1fr);
  }

}

@media (max-width: 768px){

  .menu-btn{
    display: block;
  }

  .dashboard{
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }

  .sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 240px;
    height: 100%;
    background: #020617;
    z-index: 1000;
  }

  .sidebar.active{
    left: 0;
  }

  .overlay{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
  }

  .overlay.active{
    display: block;
  }

  .search{
    width: 100%;
  }

}

@media (max-width: 480px){

  .cards{
    grid-template-columns: 1fr;
  }

  .card{
    padding: 15px;
  }

  .card h2{
    font-size: 20px;
  }

  .chart canvas{
    max-height: 180px;
  }

  header h1{
    font-size: 18px;
  }

}

@media (max-width: 350px){

  header h1{
    font-size: 16px;
  }

  .card{
    padding: 12px;
  }

}